@model ElectricPineapple.CVGSUser

@{
    ViewBag.Title = "Details";
}

<h2>User Details</h2>

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            Last name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            User Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            E-Mail Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            City:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            Gender:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>


        <dt>
            Personal Info:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profileInfo)
        </dd>


        <dt>
            Province:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province1.province1)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
