@model IEnumerable<ElectricPineapple.CVGSUser>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User List</h1>
    </div>
</div>


<table class="table">

        @{int i = 0;}
        @foreach (var item in Model)
	    {
            if (i == 0)
	        {
                @:<div class="row">
                @:<div class="col-lg-12">
	        }
                
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href=@Url.Action("Details", "CVGSUsers", new {id = item.userID})>
                        <h3 class="panel-title">@item.userName</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <a href=@Url.Action("Details", "CVGSUsers", new {id = item.userID})>
                    </a>               
                     First Name:   @item.firstName<br /><br />
                     Last Name:   @item.lastName<br /><br />
                     Province:   @item.province  
                    @if (Request.IsAuthenticated)
                    {
                        <a href="@Url.Action("AddFriend", "CVGSUsers", new {id = item.userID})">Add friend</a>
                    }
                    @if (User.IsInRole("Admin") && item.userType == 1)
                    {
                        using (Html.BeginForm("AddAdministrator", "Account", new {id = item.userLink}))
                        {
                            <br /><br /><input class="btn btn-add-to-wishlist" type="submit" value="Add Administrator" />
                        }
                    }              
                </div>       
            </div>
         </div>


        }
</table>
