@model IEnumerable<ElectricPineapple.CVGSUser>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>


<table class="table">
    <tr>
       
        <th>
            User Name
        </th>       
        <th>
            First Name
        </th>
        <th>
            Province
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Province1)
        </td>

       


        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
