@model IEnumerable<ElectricPineapple.News>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">News</h1>
    </div>
</div>
    @if(User.IsInRole("Admin"))
    { 
    @Html.ActionLink("Create New", "Create");
    }
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.newsID }, new { @style = "color:#000000;" })
        </td>
        <td>
            @if (item.Description.Length < 95)
            {
                @item.Description<br /><br />
            }
            else
            {
                @item.Description.Substring(0, 95);
                @:...<br /><br />
                        }
    </tr>
}

</table>*@

@{int i = 0;}
@foreach (var item in Model)
{
    if (i == 0)
    {
        @:<div class="row">
            @:<div class="col-lg-12">
	    }

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href=@Url.Action("Details", "News", new {id = item.newsID})>
                        <h3 class="panel-title">@item.Title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <span class="panel-news-body">
                        @if (item.Description.Length < 117)
                        {
                            @item.Description<br /><br />
                        }
                        else
                        {
                            @item.Description.Substring(0, 117);
                            @:...<br /><br />
                        }
                    </span>
                </div>
            </div>
        </div>

                        i++;
                        if (i == 4)
                        {
                            i = 0;
        }

}
@if (i != 0)
{
    @:</div>
    @:</div>
}