@model ElectricPineapple.Publisher

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Details</h1>
    </div>
</div>

<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.publisher1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher1)
        </dd>

        <dd>
            <img src="~/Content/images/publishers/@Model.imagePath" width="800" height="450" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.publisherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@{int i = 0;
var publisherGames = (List<Game>)ViewData["publisherGames"];}
@foreach (var item in publisherGames)
{
    if (i == 0)
    {
        @:<div class="row">
            @:<div class="col-lg-12">
	}

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href=@Url.Action("Details", "Game", new {id = item.gameID})>
                    <h3 class="panel-title">@item.title</h3>
                </a>
            </div>
            <div class="panel-body">
                <a href=@Url.Action("Details", "Game", new {id = item.gameID})>
                    <img src="~/Content/images/box covers/@item.coverPath" width="155" height="220" />
                </a>
                <span class="panel-game-info">
                    $@item.price<br /><br />
                    @item.Publisher1.publisher1<br /><br />
                    @item.Platform1.platform1, @item.Genre1.genre1<br /><br />
                    @if (item.description.Length < 95)
                    {
                        @item.description<br /><br />
                    }
                    else
                    {
                        @item.description.Substring(0, 95);
                        @:...<br /><br />
                        }
                </span>
                <br /><br />
                <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
            </div>
        </div>
    </div>

                    i++;
                    if (i == 4)
                    {
                        i = 0;
                        @:</div>
                        @:</div>
                    }

}
@if (i != 0)
{
    @:</div>
    @:</div>
}
