@model IEnumerable<ElectricPineapple.Event>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Events</h1>
    </div>
</div>

<p>
    @Html.ActionLink("Create New Event", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.eventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eventID })
        </td>
    </tr>
}

</table>
