@model IEnumerable<ElectricPineapple.CreditCard>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Credit cards</h1>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cardID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cardID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cardID })
        </td>
    </tr>
}

</table>
