@model IEnumerable<ElectricPineapple.Game>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Search Results for @ViewData["SearchTerm"]</h1>
    </div>
</div>

@if (Model.Count() < 1)
{
    @:No results found.
}

@{int i = 0;}
@foreach (var item in Model)
{
    if (i == 0)
    {
        @:<div class="row">
        @:<div class="col-lg-12">
	}

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href=@Url.Action("Details", "Game", new {id = item.gameID})>
                        <h3 class="panel-title">@item.title</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <a href=@Url.Action("Details", "Game", new {id = item.gameID})>
                        <img src="~/Content/images/box covers/@item.coverPath" width="155" height="220" />
                    </a>
                    <span class="panel-game-info">
                        $@item.price<br /><br />
                        @item.Platform1.platform1, @item.Genre1.genre1<br /><br />
                        @if (item.description.Length < 95)
                        {
                            @item.description<br /><br />
                        }
                        else
                        {
                            @item.description.Substring(0, 95);
                            @:...<br /><br />
                        }
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>

        i++;
        if (i == 4)
        {
            i = 0;
            @:</div>
            @:/div>
        }

}
@if (i != 0)
{
    @:</div>
    @:</div>
}








